<h1><center><span style="color:orange">Tesla's Hypercar R Concept Success Prediction</span></center></h1>


<h2><center><span style="color:sienna">Data Wrangling</span></span><span style:"slategrey">: BeautifulSoup</span></center></h2>

EDA
Used libraries:
Pandas and numpy

***

In [7]:
import pandas as pd
import numpy as np

Dataset from csv

In [8]:
df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")

Searching missing values and nulls

In [3]:
df.isnull().sum()/df.count()*100

FlightNumber       0.000
Date               0.000
BoosterVersion     0.000
PayloadMass        0.000
Orbit              0.000
LaunchSite         0.000
Outcome            0.000
Flights            0.000
GridFins           0.000
Reused             0.000
Legs               0.000
LandingPad        40.625
Block              0.000
ReusedCount        0.000
Serial             0.000
Longitude          0.000
Latitude           0.000
dtype: float64

Number of attempts for each site

In [5]:
df["LaunchSite"].value_counts()

CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

Occurrences

In [6]:

df["Orbit"].value_counts()

GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
GEO       1
SO        1
HEO       1
Name: Orbit, dtype: int64

In [13]:
# Outcomes
landing_outcomes=df["Outcome"].value_counts()

In [14]:
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 None ASDS
6 False Ocean
7 False RTLS

In [9]:
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
bad_outcomes

NameError: name 'landing_outcomes' is not defined

In [10]:
# landing_class = 0 if bad_outcome

# landing_class = 1 otherwise

landing_class = []
for key,value in df["Outcome"].items():
    
    if value in bad_outcomes:
        landing_class.append(0)
    else:
        landing_class.append(1)

NameError: name 'bad_outcomes' is not defined

In [18]:
df['Class']=landing_class
df[['Class']].head(8)

   Class
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      1

Calculating success rate:

In [20]:
df["Class"].mean()

0.6666666666666666

And exporting to a new csv

<code>df.to_csv("dataset_part\_2.csv", index=False)</code>