<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1><strong>Peer graded assignment</strong>:</h1>

<h2>Tools for data science</h2>

<h3>Guidelines for the submission:</h3> <br>
<h4>There are a total of 25 points possible for this final project.</h4>

<h5>with the following Exercises:</h5>

<ol>

<li>Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)</li>

<li>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</li>

<li>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</li>

<li>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</li>

<li>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</li>

<li>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</li>

<li>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</li>

<li>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</li>

<li>Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)</li>

<li>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)</li>

<li>Exercise 12 - Share your notebook through GitHub (3 pts)</li>

<li>Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)</li>
    
</ol>

<h1>Exercise 1: Create a Jupyter Notebook</h1>

<h2><strong>Name:</strong> this is the Jupyter Notebook</h2>

<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

<h1>Data Science Tools course title: this is the title</h1>

<strong>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</strong>

<p>In this place, Data Science Tools course introduction can be seen.<p>

<strong>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</strong>

<strong>Objectives:</strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python.</li>
    <li>SQL.</li>
    <li>R.</li>
    <li>Scala.</li>
    <li>Java and JavaScript.</li>
    <li>Julia.</li>
    <li>C/C++.</li>
    
</ol>

<strong>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</strong>

 Libraries for Data Science:
<ol>
    <li>Matplotlib.</li>
    <li>NumPy.</li>
    <li>SciPy.</li>
    <li>Pandas.</li>
    <li>TensorFlow.</li>
    <li>Keras.</li>
    <li>SciKit-Learn.</li>
    <li>PyTorch.</li>
    <li>Scrapy.</li>
    <li>PyBrain.</li>
    <li>BeautifulSoup.</li>
    <li>LightGBM.</li>
    <li>ELI5.</li>
    <li>Theano.</li>
    <li>NuPIC.</li>
    <li>Ramp.</li>
    <li>Pipenv.</li>
    <li>Bob.</li>
    <li>Caffee.</li>
    <li>Chainer.</li>
</ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>

Table showing Data Science tools:

<table style="width:100%">
  <tr>
    <th>Tools for Data Science</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>SAS. Tool for Statistics</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark: multi-language engine for executing data engineering, data science, and machine learning on single-node machines or clusters</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>BigML: BigML provides a selection of robustly-engineered Machine Learning algorithms proven to solve real world problems by applying a single, standardized framework</td>
    <td></td>
    <td></td>
  </tr>
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</strong>

<h3>Arithmetic expressions using Python</h3>

In [1]:
# Arithmetic operation 1:
code = compile("17 + 4", "<string>", "eval")
eval(code)
# Result is: 21

21

In [2]:
# Arithmetic operation 2:
code1 = compile("(8 + 9) * 4", "<string>", "eval")
eval(code1)
# Result is: 68

68

In [3]:
# Arithmetic operation 3:
import math
# Volume of a sphere importing math library
code2 = compile("5 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result is: 81812.3086872342

81812.3086872342

<strong>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</strong>

This cell firstly multiply and after that add

In [4]:
(34*58)+5
# Result is: 1977

1977

<strong>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</strong>

The following cell will convert 333 minutes to hours.

In [5]:
days = 0
hours = 0
mins = 0

tiempo = 333
#days = tiempo / 1440
minutos = tiempo % 1440
hours = minutos / 60
#mins = tiempo - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " minutes ")

# Result is: 5.55 hours. If you run this cell as code, you get 0 days, 5.55 hours, 0 minutes. But, if you run this cell as markdown, you get a different result.

0 days, 5.55 hours, 0 minutes

<strong>Exercise 10 -Insert a markdown cell to list Objectives.</strong>

<strong>List showing objectives:</strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

<strong>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.</strong>

<h2>Author's name:</h2> Maria Rodriguez